!!! 5
html
    head
        link(rel='shortcut icon', type='icon', href='http://127.0.0.1:1337/favicon.ico')
        title= title
        style.
            html {
                background-color: #eed1a5;
            }
    body
        form(action='/search',method='post')
            input(
                type='text'
                name='search'
                placeholder='Card name'
            )
            input(
                type='submit'
                value='Search'
            )

