!!! 5
html
    head
        link(rel='shortcut icon', type='icon', href='http://127.0.0.1:1337/favicon.ico')
        title= title
    body
        form(action='/search',method='post')
            input(
                type='text'
                name='search'
            )
            input(
                type='submit'
                value='Search'
            )

