!!! 5
html
    head
        link(rel='shortcut icon', type='icon', href='http://127.0.0.1:1337/favicon.ico')
        title= title
    body
        img(src=img)
        p= "Race: "+race
        p= "health: "+health
        p= "type: "+type
        p= "locale: "+locale
        p= "cardSet: "+cardSet
        p= "attack: "+attack
        p= "cardId: "+cardId
        p= "faction: "+faction
        p= "name: "+name
        img(src=imgGold)
        p= "text: "+text
        p= "rarity: "+rarity
        p= "cost: "+cost
